{% extends "otree/BaseAdmin.html" %}

{% block title %}
    Reset your password
{% endblock %}

{% block content %}
{% if messages %}
   <h3>Change password</h3>
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message|escape|safe }}</div>
        {% else %}
            <div class="alert alert-danger" role="alert">{{ message|escape|safe }}</div>
        {% endif %}
    {% endfor %}
{% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form }}
      {{ form.non_field_errors }}
      <br><button class="btn btn-primary" type="submit">Change password</button>
    </form>


{% endblock %}